[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "provision"]
    path = provision
    url = https://github.com/meatballs/vagrant-provisioning.git
[submodule "voidy-bootstrap"]
    path = themes/voidy-bootstrap
    url = https://github.com/robulouski/voidy-bootstrap.git